name: Terraform-Jenkins-Apply

on: 
  workflow_dispatch

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Terraform version
      run: |
        terraform version
        which terraform
    - name: Pre-existing Terraform Clean
      run: |
        sudo rm /usr/local/bin/terraform
        ls /usr/local/bin
    - name: Install Terraform
      env:
        TERRAFORM_VERSION: "0.13.2"
      run: |
        tf_version=$TERRAFORM_VERSION
        wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
        unzip terraform_"$tf_version"_linux_amd64.zip
        ls
        sudo mv -f terraform /usr/local/bin/
    - name: Install Packer
      env:
        PACKER_VERSION: "1.5.6"
      run: |
        VER=$PACKER_VERSION
        wget https://releases.hashicorp.com/packer/${VER}/packer_${VER}_linux_amd64.zip
        unzip packer_${VER}_linux_amd64.zip
        sudo mv -f packer /usr/local/bin
    - name: Terraform create credential
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_TERRAFORM }}
      run: |
        mkdir credential
        echo $GOOGLE_APPLICATION_CREDENTIALS > credential/gcp_credentials.json
    - name: Packer Build Image
      run: |
        pwd
        ./packer/build.sh
        cat ../terraform/jenkins_imagevar.tf
    - name: Terraform init
      run: |
        pwd
        terraform init
#    - name: Terraform apply
#      run: |
#        terraform apply --auto-approve
