name: Terraform-Jenkins-Destroy

on: 
  workflow_dispatch

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Terraform
      env:
        TERRAFORM_VERSION: "0.13.2"
      run: |
        tf_version=$TERRAFORM_VERSION
        wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
        unzip terraform_"$tf_version"_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
    - name: Terraform create credential
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_TERRAFORM }}
      run: |
        mkdir credential
        echo $GOOGLE_APPLICATION_CREDENTIALS > credential/gcp_credentials.json
    - name: Terraform init
      run: |
        cd terraform
        terraform init
    - name: Terraform destroy
      run: |
        cd terraform
        terraform destroy --auto-approve
