name: Terraform-Packer-Build

on: 
  workflow_dispatch

jobs:
  packer-tf-apply:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Terraform version
      run: |
        terraform version
        which terraform
    - name: Pre-existing Binaries Clean
      run: |
        sudo rm /usr/local/bin/terraform
        sudo rm /usr/local/bin/packer
    - name: Install Terraform
      env:
        TERRAFORM_VERSION: "0.13.2"
      run: |
        tf_version=$TERRAFORM_VERSION
        wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
        sudo unzip terraform_"$tf_version"_linux_amd64.zip -d /usr/local/bin
    - name: Install Packer
      env:
        PACKER_VERSION: "1.5.6"
      run: |
        VERSION=$PACKER_VERSION
        wget https://releases.hashicorp.com/packer/${VERSION}/packer_${VERSION}_linux_amd64.zip
        sudo unzip packer_${VERSION}_linux_amd64.zip -d /usr/local/bin
    - name: Create GCP credentials
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_TERRAFORM }}
      run: |
        mkdir credential
        echo $GOOGLE_APPLICATION_CREDENTIALS > credential/gcp_credentials.json
    - name: Create SSH key
      env:
        JENKINS_SSH_PRIVATE_KEY: ${{ secrets.JENKINS_SSH_PRIVATE_KEY }}
      run: |
        pwd
        echo $JENKINS_SSH_PRIVATE_KEY > packer/files/github-key
    - name: Packer Build Image
      run: |
        packer build packer/Packerfile.json
    - name: Terraform init
      run: |
        cd terraform
        terraform init
    - name: Terraform apply
      run: |
        cd terraform
        terraform apply --auto-approve
